<!-- navbar -->
 <div class="w-full bg-slate-50 h-16 border-b border-b-blue-950 shadow-md fixed">
    <div class="flex flex-row justify-evenly mt-0 w-10/12 mx-auto">
        <div class="flex flex-row gap-x-3">
            <div class="px-4 py-2 mt-2 bg-blue-950 border rounded-md">
                <a routerLink="/" class="text-base text-slate-50 font-sans">Home</a>
            </div>
            <div class="px-4 py-2 mt-2 bg-blue-950 border rounded-md">
                <p class="text-base  text-slate-50 font-sans">About</p>
            </div>
        </div>
        <div>
            <p class="text-blue-950 font-bold text-xl mt-3">Task Tracker Pro</p>
        </div>
        <div class="flex flex-row gap-x-3">
            <div class="px-4 py-2 mt-2 bg-blue-950 border rounded-md">
                <p class="text-base  text-slate-50 font-sans">Feature</p>
            </div>
            <div class="px-4 py-2 mt-2 bg-blue-950 border rounded-md">
                <a routerLink="/login" class="text-base text-slate-50 font-sans">Login</a>
            </div>
        </div>
    </div>
</div>